
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coingecko Data</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price (USD)</th>
        <th>Market price (USD)</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(coin => { %>
        <tr>
          <td
          style="width: 30px;"
          ><img src="<%= coin.image %>" alt="<%= coin.name %> Image" /></td>
          <td><%= coin.symbol %></td>
          <td><%= coin.name %></td>
          <td><%= coin.current_price %></td>
          <td><%= coin.market_cap %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
