<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <form action="/login" method="POST">
        <h2>Login</h2>
        <input type="text" placeholder="Username" name="username" />
        <br />
        <input type="password" placeholder="Password" name="password" />
        <br/>
        <button>Log In</button>
    </form>
    
</body>
</html>